
<div class="flex flex-col items-end p-20">
<h1 class="text-8xl leading-tight">Cinema<br> Ironhack</h1>

<a class="self-end mr-56 text-blue-300 rounded-full bg-white py-3 px-6 hover:bg-blue-300 hover:text-white shadow-md"href="/movies">Check the movies!</a>
</div>