<div class=" h-screen w-screen overflow-hidden bg-no-repeat bg-cover bg-[url('./images/cinema.jpg')]">
<div class="flex flex-col items-end p-20 bg">
<h1 class="text-8xl leading-tight text-white font-extrabold">Cinema<br> Ironhack</h1>

<a class="self-end mr-56 text-blue-300 rounded-full bg-white py-3 px-6 hover:bg-blue-300 hover:text-white shadow-md"href="/movies">Check the movies!</a>
</div>


</div>